<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dfa.vinatrip">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>

    <application
        android:name=".MainApplication_"
        android:allowBackup="true"
        android:icon="@drawable/ic_symbol"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".video_call.SinchService"/>

        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCyIPbgc4_qtZCXdaq945UK-sx_SQwYXd8"/>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCyIPbgc4_qtZCXdaq945UK-sx_SQwYXd8"/>

        <activity android:name=".domains.intro.WelcomeActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".video_call.CallScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".video_call.IncomingCallScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".video_call.LoginVideoCallActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".video_call.PlaceCallActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.main.MainActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.province_detail.ProvinceDetailActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".domains.province_detail.view_all.hotel.hotel_detail.HotelDetailActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.province_detail.view_all.hotel.HotelSearchActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.province_detail.view_all.food.FoodSearchActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>    <!--duonghd-->

        <activity
            android:name=".utils.MapActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".domains.auth.sign_up.SignUpActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.auth.sign_in.SignInActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.auth.reset_password.ResetPasswordActivity_"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.main.fragment.me.detail_me.UserProfileDetailActivity_"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.chat.ShowFullPhotoActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".domains.main.splash.SplashScreenActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".domains.main.fragment.plan.make_plan.MakePlanActivity_"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.main.fragment.plan.detail_plan.DetailPlanActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".domains.main.fragment.plan.make_plan.choose_background.ChooseBackgroundPlanActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".domains.chat.ChatGroupActivity_"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".domains.chat.ShowUserOnlineActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".domains.location.LocationGroupActivity_"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".domains.web.WebActivity_"/>

        <activity android:name=".domains.main.fragment.trend.detail_trend.DetailTrendActivity_"/>
    </application>
</manifest>